.rst-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.document {
  flex-grow: 1;
}

.bolditalic {
  font-weight: bold;
  font-style: italic;
}

.small-text-bold {
  font-weight: bold;
  font-size: small;
}

.small-text {
  font-size: small;
}

video
{
    width: 100%;
    height: auto;
    max-height: 100%;
}

.math {
  text-align: left;
}
.eqno {
  float: right;
}

.toggle .header {
  display: block;
  clear: both;
}

.toggle .header:after {
  content: "▶";
}

.toggle .header.open:after {
  content: "▼";
}